/* Animation */
@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  to {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes loading {
  to {
    -ms-transform: rotate(360deg); } }

@keyframes loading {
  to {
    transform: rotate(360deg); } }

.spinner-small {
  text-align: center; }

/* Loader (*/
#spinner-small {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #1ab5b3;
  border-left: 4px solid #1ab5b3;
  -webkit-animation: loading 1.2s infinite linear;
  -moz-animation: loading 1.2s infinite linear;
  -ms-animation: loading 1.2s infinite linear;
  animation: loading 1.2s infinite linear; }
