@import "../base/variables.scss";

.services-page {
  padding: 24px;
  animation: show-page .4s ease;
  
  &__wrap-inner {
    padding: 24px;
    background-color: #fff;
  }
  
  &__header {
    margin: 0;
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: solid 1px $grey-l;
  }
  
  .services-list {
    margin-bottom: 50px;
    border-bottom: solid 1px $grey-l;
  }
  
  .why-us {
    margin-bottom: 30px;
  }
}