{% extends 'layout/base.twig' %}

{% block ABC %}
  <div class="under-construct">
    <div class="under-construct__wrap-inner">
      <h1 class="under-construct__header">
        Sorry, the page is under construction.
        <br/>
        Come back soon.
      </h1>
      <div class="under-construct__progress-wrap">
        <div class="under-construct__progress">
          <i class="fa fa-gears"></i>
          <span class="under-construct__stripes under-construct__animate" 
                style="width: 80%"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
