



<!DOCTYPE html>
<html>
  <head>
    <title>Kappe-Express-MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
  </head>
  <body>
    {% include '../navigation/nav.twig' %}
    <div class="page-content">
      {% block ABC %}
      {% endblock %}
    </div>
  </body>
</html>
